.Wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 30px
;}

.Label {
    font-size: 16px;
    color: #3d3d3d;
    line-height: 1.5;
    padding-left: 2px;
    display: block;
}

.InputElement {
    width: 100%;
    font-size: 20px;
    padding: 3px;
    line-height: 1.5;
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    font-size: 16px;
}

.InputElement::placeholder {
    color: rgb(184, 184, 184);
    font-size: 16px;
}

.Error {
    color: rgb(253, 22, 22);
    margin-top: 3px;
}

.InputElement:focus {
    outline: none;
    border-bottom: 2px solid black;
}
